<div id='msg_<%= message.name %>' class='panel panel-default message <%= message.classes %>' >
  <div class='panel-heading'>
    <h2 class='panel-title'><%= message.title %></h2>
  </div>
  <div class='panel-body'>
    <p><%= message.body %></p>
  </div>
  <div class='panel-footer'>
    <%= message.date.strftime('%a %e %b %Y') %>
    <span class="label label-<%= message.age_warning %> pull-right"><%= message.age %> ago</span>
  </div>
</div>
